<!DOCTYPE html>
<!--提示-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script language="JavaScript" src="./js/index.js"></script>
</head>
<body>
<div class="main-title">水果管理系统</div>
<form th:action="@{/index}" method="post">
    <input type="hidden" name="operation" value="search">
    请输入关键字查询：<input type="text" name="keyword">
    <input type="submit" value="查询" >
</form>
<div><a th:href="@{/add.html}">添加库存信息</a></div>
<table>
    <tr>
        <th>名称2</th>
        <th>单价</th>
        <th>库存</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    <tr th:if="${#lists.isEmpty(session.fruitList)}">
        <td colspan="4"> 对不起，库存为空！</td>
    </tr>
    <tr th:unless="${#lists.isEmpty(session.fruitList)}" th:each="fruit:${session.fruitList}">
<!--        <td ><a th:href="@{'/edit.do?id='+${fruit.id}}" th:text="${fruit.name}">苹果</a></td>-->
        <td ><a th:href="@{/edit.do(id=${fruit.id})}" th:text="${fruit.name}">苹果</a></td>
        <td th:text="${fruit.price}">20</td>
        <td th:text="${fruit.fCount}">10</td>
        <td th:text="${fruit.remark}">10</td>
        <td><a href="" th:onclick="|deleteFruit(${fruit.id})|">删除</a></td>
    </tr>
</table>
    <div>
<!--        <a href="">首页</a>-->
        <input type="button" value="首页" th:onclick="|page(1)|" th:disabled="${session.pageNo}==1" />
        <input type="button" value="上一页" th:onclick="|page(${session.pageNo}-1)|" th:disabled="${session.pageNo}==1 "/>
        <input type="button" value="下一页" th:onclick="|page(${session.pageNo}+1)|" th:disabled="${session.pageNo}==${session.pageCount}"/>
        <input type="button" value="尾页" th:onclick="|page(${session.pageCount})|" th:disabled="${session.pageNo}==${session.pageCount}"  />
<!--        <a href="">下一页</a>-->
<!--        <a href="">尾页</a>-->
    </div>
</body>
</html>