table tr td{
    border: 1px solid black;

}

tr{
    /*border: 1px solid black;*/
}

td{
    /*border: 1px solid black;*/
}

div{
    border: 1px solid black;
    font-size: 20px;
}
.main-title{
    align:center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}